node_modules/
# Ignore Firebase Admin / Service Account credentials (High Security)
*-firebase-adminsdk-*.json


# Ignore Android Client Configuration (Optional, but recommended for public repos)
google-services.json